# Database
DATABASE_URL="postgresql://user:password@localhost:5432/tawha_electric?schema=public"

# Auth.js (https://authjs.dev/getting-started/deployment)
AUTH_SECRET="generate-with-openssl-rand-base64-32"
